{% extends "rentAnalysis/base.html" %}

{% block Inner %}
<style>
    body{
    .row {
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: 90%;
        margin-right: 2%;
        background-color: #f9f9f9;
        padding: 20px;
    }

    .card:nth-child(2) {
        margin-right: 0; /* 移除第二个卡片的右边距 */
    }
}
</style>

<!-- Page Inner -->
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style-1">
                    <li class="breadcrumb-item">区域</li>
                    <li class="breadcrumb-item active" aria-current="page">地区</li>
                </ol>
            </nav>
            <h1 class="page-title">地区</h1>
        </div>
        <h5 class="page-desc"></h5>
        <div class="divider"></div>
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">房屋户型</h5>
                        <div id="district1" style="height: 350px"></div>
                        <button id="myBtn1">点击了解分析结果</button>
                        <div id="demo1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">房屋面积</h5>
                        <div id="district2" style="height: 350px"></div>
                        <button id="myBtn2">点击了解分析结果</button>
                        <div id="demo2"></div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- Main Wrapper -->

</div><!-- /Page Inner -->

{% endblock %}